@media (min-width: 1600px){
  .container{
    max-width: 1400px; /* Puedes ajustar este valor según tus necesidades */
  }
}

@media (min-width: 1800px){
  .container{
    max-width: 1576px; /* Puedes ajustar este valor según tus necesidades */
  }
  .w-75{
    width: 85% !important;
  }
}

.barra-busqueda{
  width: 80%;
  transition: .4s ease-in;
}

@media (max-width: 1199px){
  .barra-busqueda{
    width: 70%;
  }
}

@media (max-width: 991px){
  .barra-busqueda{
    width: 50%;
  }
}

@media (max-width: 768px){
  .barra-busqueda{
    width: 80%;
  }
}

@media (max-width: 455px){
  .barra-busqueda{
    width: 75%;
  }
}

.card_box span {
  font-size: .7rem;
  position: absolute;
  overflow: hidden;
  width: 110px;
  height: 110px;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-etiqueta{
  margin-top: -1rem;
  font-weight: bold;
  font-size: .8rem;
  margin-left: -1.7rem !important;
  transform: rotate(-45deg);
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.card_box span::before {
  content: 'Liquidacion';
  position: absolute;
  width: 130%;
  height: 30px;
  background-color: rgb(20,67,115);
  /* background-image: linear-gradient(45deg, #ff6547 0%, #ffb144  51%, #ff7053  100%); */
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0,0,0,0.23);
}

/* ------------------------------- */
.fw-precio-normal{
  font-weight: 500;
}

/* Anula los estilos de enfoque en el botón del acordeón */
.accordion-button button {
  text-decoration: none !important;
  background-color: transparent !important;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
  background-color: #00000000;
}

/* Cambia el color del botón del acordeón cuando el cuerpo se abre */
.accordion-button:not(.collapsed) {
  background-color: transparent; /* Hace que el botón sea invisible (sin color) */
}

/* Cambia el color del botón del acordeón cuando el cuerpo se cierra */
.accordion-button.collapsed {
  background-color: #00000000; /* Establece el color deseado cuando el botón está cerrado */
}

.select-tienda{
  width: 13rem;
}

@media screen and (max-width: 400px) {
  .select-tienda {
    font-size: 0.9rem;
    width: 10rem;
  }
}

.botonFiltrar{
  padding: 0 30px;
  /* padding: 0.375rem 2.25rem 0.375rem 0.75rem; */
  height: 38px;
  font-size: 16px;
  background-color: white;
  display: inline-block;
  border-radius: 0.375rem;
  border: 1px solid #ced4da;
  color: #212529;
}

.ir-arriba{
  background-color: rgb(223,222,222);
  transition: .1s ease-in;
}

.ir-arriba:hover{
  background-color: rgb(201, 201, 201);
}

.img-product{
  padding: 0;
  margin: 0;
  aspect-ratio: 1 / 1;
}

.contenedor-producto{
  box-shadow: 0px 3.561px 8.901px 0px rgba(0, 0, 0, 0.363);
}

/* Agrega una transición suave para la escala y la opacidad */
.contenedor-producto figure img {
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transform: scale(0.9);
}

/* Escala la imagen y ajusta la opacidad al hacer hover en el contenedor del producto */
.contenedor-producto:hover figure img {
  transform: scale(1);
  opacity: 0.8; /* Ajusta la opacidad según tu preferencia */
}

/* Restaura la escala y la opacidad al dejar de hacer hover */
.contenedor-producto figure img {
  opacity: 1;
}

.precioPromocion{
  color: #00254A;
  font-size: 1.1rem;
}

/* BOTOM AGREGAR AL CARRITO */
.boton-comprar{
  width: 140px;
   height: 40px;
   border-radius: 26px;
   border: none;
   font-size: 15px;
   font-weight: 500;
   background-color: #00254A;
   /* border: 1px solid rgb(15,21,47); */
   border: 1px solid #00254A;
   display: flex;
   align-items: center;
   color: white !important;
   justify-content: center;
   cursor: pointer;
   transition-duration: .4s;
   overflow: hidden;
   /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103); */
   position: relative;
 }

 .boton-comprar-outline{
  width: 140px;
   height: 40px;
   border-radius: 26px;
   border: none;
   background-color: #ffffff;
   /* border: 1px solid rgb(15,21,47); */
   border: 1.7px solid #000000;
   display: flex;
   align-items: center;
   color: white !important;
   justify-content: center;
   cursor: pointer;
   transition-duration: .4s;
   overflow: hidden;
   /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103); */
   position: relative;
 }

.CartBtn {
  width: 140px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: rgba(15, 21, 47, 0);
  /* border: 1px solid rgb(15,21,47); */
  border: 1px solid rgb(20, 97, 165);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .4s;
  overflow: hidden;
  /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103); */
  position: relative;
}

.CartBtn:hover{
  /* background-color: rgb(15,21,47); */
  /* background-color: rgb(114,1,224); */
  background-color: rgb(20, 97, 165);
  border: 1px solid rgba(20, 97, 165, 0);
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .4s;
}

.icon {
  border-radius: 1px;
}

.textCart {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(15,21,47);
  /* color: rgb(114,1,224); */
  color:  rgb(18, 87, 148);
  z-index: 1;
  transition-duration: .4s;
  font-size: 1.04em;
  font-weight: 500;
}

.CartBtn:hover .IconContainer {
  transform: translateX(100px);
  border-radius: 40px;
  transition-duration: .4s;
}

.CartBtn:hover .textCart {
  transform: translate(10px,0px);
  transition-duration: .4s;
  color: aliceblue;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: .4s;
}

/* BOTONESA CUSTOM DE CAMBIADO DE VISTA */
/* Estilos para el botón */
.boton-outline-secondary {
  color: #6c757d; /* Color del texto */
  background-color: transparent; /* Fondo transparente */
  border-color: #8e979e9f; /* Color del borde */
  padding: 0.375rem 0.75rem; /* Espaciado interno (padding) */
  font-size: 1rem; /* Tamaño de fuente */
  line-height: 1.5; /* Altura de línea */
  border-radius: 0.25rem; /* Radio de borde */
  cursor: pointer; /* Cambia el cursor a una mano */

  /* Estilos de transición para el hover */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

/* Estilos de hover para el botón */
.boton-outline-secondary:hover {
  border-color: #6c757d; /* Cambia el borde en el hover */
}

.button-special{
  transition: transform 0.2s ease-in-out;
}

.button-special:hover{
  width: 100px;
}
