<section class="p-3 bg-light rounded-3 mt-3 mt-lg-0">
  <div class="d-flex justify-content-between">
    <span class="fw-bold">Total</span>
    <span class="fw-600"> {{precioTotalCarro() | currency : "S/ " }} </span>
  </div>
<hr>
  <div>
    <!-- <span style="font-size: .9rem;">El costo de envio sera calculado despues de seleccionar el tipo de envio</span> -->
  </div>
  <div class="fw-500 mt-1" style="font-size: .9rem;">
    Esta página cuenta Certificación PCI DSS (Payment Card Industry Data Security Standards). que simplifica el proceso de captura , envio y almacenamiento de datos de las tarjetas de débito y crédito, ofreciéndote una integración 100% segura de seguridad.
  </div>
</section>
