<section>
  <div class="first">
    <div class="first-container">
      <div class="eslogan">
        <div class="principal">
          <span class="gradient">MODERNIZA </span>
          <span>TU </span>
          <span >EMPRESA </span>
          <span>CON </span>
          <span>NUESTRAS </span>
          <span class="gradient">SOLUCIONES </span>
          <span class="gradient">TECNOLÓGICAS. </span>


        </div>
        <span class="secundario">Convierte desafíos en oportunidades con nuestra tecnología de vanguardia y sé parte de nuestros clientes que dieron ese gran paso.</span>
      </div>

      <img class="img-principal" src="https://imagenes.upgrade.com.pe/Banners/SOLUCION-PRINCIPAL.webp">

    </div>

    <div class="logos">
      <div class="logos-slide">

        <img src="https://imagenes.upgrade.com.pe/Banners/CLIENTE-1.webp" alt="">
        <img src="https://imagenes.upgrade.com.pe/Banners/CLIENTE-2.webp" alt="">
        <img src="https://imagenes.upgrade.com.pe/Banners/CLIENTE-3.webp" alt="">
        <img src="https://imagenes.upgrade.com.pe/Banners/CLIENTE-4.webp" alt="">
        <img src="https://imagenes.upgrade.com.pe/Banners/CLIENTE-5.webp" alt="">
        <img src="https://imagenes.upgrade.com.pe/Banners/CLIENTE-6.webp" alt="">
        <img src="https://imagenes.upgrade.com.pe/Banners/CLIENTE-7.webp" alt="">
        <img src="https://imagenes.upgrade.com.pe/Banners/CLIENTE-8.webp" alt="">
        <img src="https://imagenes.upgrade.com.pe/Banners/CLIENTE-9.webp" alt="">
        <img src="https://imagenes.upgrade.com.pe/Banners/CLIENTE-10.webp" alt="">
        <img src="https://imagenes.upgrade.com.pe/Banners/CLIENTE-11.webp" alt="">
        <img src="https://imagenes.upgrade.com.pe/Banners/CLIENTE-12.webp" alt="">

      </div>
    </div>
  </div>

  <div class="solucion">
   <div class="imagen-contenedor">
    <img class="imagen-solucion" src="https://imagenes.upgrade.com.pe/Banners/SOLUCION-1.webp" alt="">
   </div>
    <div class="titulo">
      <span class="sub" >SOLUCIONES EN</span>
      <SPAN class="gradient">NETWORKING Y TELECOMUNICACIONES</SPAN>
      <p>Somos expertos en la implementacion y soporte de red, contamos con un equipo de sconsultores especialistas, capacitados para ayudar a sus organizacion en la planificacion y despliegue de su infraestrucutra de red y dar respuesta  a sus necesidades futuras conecte a uss empleados con sus clientes  y su empresa con el mundo</p>
    </div>
  </div>

  <div class="solucion">

    <div class="titulo">
      <span class="sub" >SOLUCIONES EN</span>
      <SPAN class="gradient">TELEFONÍA IP</SPAN>
      <p>A través de la telefonía IP podrás integrar en una misma red - basada en protocolo IP - las comunicaciones de voz y datos, para conectar con tus colaboradores y clientes en diferentes sitios y en tiempo real, aplicando de forma eficaz el trabajo remoto con sistema unificado de telefonía</p>
    </div>
   <div class="imagen-contenedor">
    <img class="imagen-solucion" src="https://imagenes.upgrade.com.pe/Banners/SOLUCION-2.webp" alt="">
   </div>
  </div>


  <div class="solucion">
   <div class="imagen-contenedor">
    <img class="imagen-solucion" src="https://imagenes.upgrade.com.pe/Banners/SOLUCION-3.webp" alt="">
   </div>
    <div class="titulo">
      <span class="sub" >SOLUCIONES PARA</span>
      <SPAN class="gradient">SERVIDORES</SPAN>
      <p>En Upgrade sabemos que la necesidad de almacenar y administrar volúmenes de datos se vuelve cada vez más grande, nosotros queremos impulsar su negocio con un servidor que se adapte al tamaño de su empresa reduciendo costos y complejidad con el desarrollo ARQUITEC Y DATA CENTERS.</p>
    </div>
  </div>

  <div class="solucion">

    <div class="titulo">
      <span class="sub" >SOLUCIONES DE</span>
      <SPAN class="gradient">IMPRESIÓN</SPAN>
      <p>Optimice tareas y procesos empresariales cruciales mediante las potentes soluciones de impresión y flujos de trabajo, en Upgrade contamos con el respaldo de marcas como HP, EPSON, CANON, BROTHER, etc.</p>
    </div>
    <div class="imagen-contenedor">
      <img class="imagen-solucion" src="https://imagenes.upgrade.com.pe/Banners/SOLUCION-4.webp" alt="">
    </div>
  </div>

  <div class="solucion">
   <div class="imagen-contenedor">
    <img class="imagen-solucion" src="https://imagenes.upgrade.com.pe/Banners/SOLUCION-5.webp" alt="">
   </div>
    <div class="titulo">
      <span class="sub" >SOLUCIONES DE</span>
      <SPAN class="gradient">PROTECCIÓN ELÉCTRICA</SPAN>
      <p>Ofrecemos sistemas eléctricos que soportan las redes de datos, sistemas de seguridad electrónica, instalación con materiales que cumplan con los estándares de calidad, además de una base sustentable para el funcionamiento de los servidores y las estaciones de trabajo</p>
    </div>
  </div>


  <div class="solucion">

    <div class="titulo">
      <span class="sub" >SOLUCIONES DE</span>
      <SPAN class="gradient">VIDEOCOFERENCIA</SPAN>
      <p>Haga que cada reunión sea productiva y personal al mismo tiempo, gracias a la video comunicación optimice las conversaciones con ayuda del video y aumente claramente la productividad de sus reuniones. En UPGRADE creamos experiencias de video de una forma sencilla e innovadora.</p>
    </div>
    <div class="imagen-contenedor">
      <img class="imagen-solucion" src="https://imagenes.upgrade.com.pe/Banners/SOLUCION-6.webp" alt="">
    </div>
  </div>


  <div class="solucion">
   <div class="imagen-contenedor">
    <img class="imagen-solucion" src="https://imagenes.upgrade.com.pe/Banners/SOLUCION-7.webp" alt="">
   </div>
    <div class="titulo">
      <span class="sub" >SOLUCIONES EN</span>
      <SPAN class="gradient">DESARROLLO DE APLICACIONES PARA MANEJO DE SISTEMAS</SPAN>
      <p>Contamos con un equipo de analistas, Desarrolladores y programadores capacitados para proponer soluciones e implementar mejoras rentables que incrementen su productividad. Construimos soluciones tecnológicas a medida y escalables, implementando proyectos digitales para mejorar tu competitividad con el desarrollo de software de acuerdo a las necesidades de su empresa.</p>
    </div>
  </div>


  <div class="solucion">

    <div class="titulo">
      <span class="sub" >SOLUCIONES EN</span>
      <SPAN class="gradient">NOTEBOOKS, DESKTOPS, WORKSTATIONS Y TABLETS</SPAN>
      <p>En UPGRADE te brindamos asesoría integral con expertos en la materia. Somos vendedores directos de una amplia gama de equipos como computadoras de escritorio y portátiles, contando con respaldo y garantía de mejores marcas a nivel mundial.</p>
    </div>
   <div class="imagen-contenedor">
    <img class="imagen-solucion" src="https://imagenes.upgrade.com.pe/Banners/SOLUCION-8.webp" alt="">
   </div>
  </div>


  <div class="solucion">
    <div class="imagen-contenedor">
      <img class="imagen-solucion" src="https://imagenes.upgrade.com.pe/Banners/SOLUCION-9.webp" alt="">
    </div>
    <div class="titulo">
      <span class="sub" >SOLUCIONES PARA</span>
      <SPAN class="gradient">SISTEMAS DE SEGURDIAD Y CONTROL DE ACCESOS</SPAN>
      <p>Ofrecemos el servicio de sistema de control de acceso biométrico, el cual tiene como finalidad controlar y registrar el movimiento que se realiza en tu empresa, además te brindamos una solución integral de seguridad de cámaras para que tu negocio este totalmente protegido.</p>
    </div>
  </div>
</section>
