<div class=" bg-white detalle-producto-contenedor mt-0 mt-lg-5">
  <div class="row">

    <section class="col-lg-6 d-flex justify-content-center align-items-center">
      <div class="card border-0">
        <div class="text-center contenedor-imagen">
          <div class="placeholder  img-esqueleton-detalle-charge">
            <div class="light-beam"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="col-lg-6" style="margin-top: 3rem">
      <h1 class="card-title placeholder-glow">
        <span class="placeholder col-12" style="border-radius: .2rem"></span>
      </h1>
      <h1 class="card-title placeholder-glow">
        <span class="placeholder col-12 text-uppercase" style="border-radius: .2rem; font-size: 2rem"></span>
      </h1>
      <br>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-4"
          style="font-size: 0.8rem; color: rgba(0, 0, 0, 0.522); border-radius: .2rem"></span>
      </p>
      <hr>
      <p class="card-text placeholder-glow">
        <span class="placeholder precio-placeholder col-4"
          style="font-size: 0.8rem; color: rgba(0, 0, 0, 0.522); border-radius: .2rem"></span>
      </p>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-4 precio-placeholder"
          style="font-size: 0.8rem; color: rgba(0, 0, 0, 0.522); border-radius: .2rem"></span>
      </p>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-4 precio-placeholder"
          style="font-size: 0.8rem; color: rgba(0, 0, 0, 0.522); border-radius: .2rem"></span>
      </p>

      <div class="card border-0 mb-2">
        <div>
          <div class="d-flex text-center">
            <h1 class="card-title placeholder-glow w-100">
              <span class="placeholder col-12" style="border-radius: .2rem"></span>
            </h1>
          </div>

          <p class="card-text placeholder-glow">
            <span class="placeholder col-4"
              style="font-size: 0.8rem; color: rgba(0, 0, 0, 0.522); border-radius: .2rem"></span>
          </p>

          <h1 class="card-title placeholder-glow w-100">
            <span class="placeholder col-12" style="border-radius: .2rem; height: 8rem;"></span>
          </h1>
        </div>
      </div>
    </section>
  </div>
  <hr>

  <div class='my-5 d-flex justify-content-center'>
    <h1 class="card-title placeholder-glow text-center w-25">
      <span class="placeholder col-12 text-uppercase text-center" style="border-radius: .2rem; font-size: 2rem"></span>
    </h1>
  </div>
  <div class="tabs">
    <ul class="nav nav-tabs nav-fill mb-3">
      <li class="nav-item mb-2">
        <p class="card-text placeholder-glow">
          <span class="placeholder col-4"
            style="font-size: 0.8rem; color: rgba(0, 0, 0, 0.522); border-radius: .2rem"></span>
        </p>
      </li>
      <li class="nav-item mb-2">
        <p class="card-text placeholder-glow">
          <span class="placeholder col-4"
            style="font-size: 0.8rem; color: rgba(0, 0, 0, 0.522); border-radius: .2rem"></span>
        </p>
      </li>
    </ul>
  </div>
</div>