<div class="container mt-4" mat-dialog-content>
  
  <h1 style="color: rgb(15, 21, 87)">TÉRMINOS Y CONDICIONES DE USO</h1>
 
  <h2 class="vigencia">VIGENCIA: 16 de enero de 2024</h2>
  <div style="color: rgb(112, 113, 112)">
    <p>
      Este documento, denominado "Términos y Condiciones de Uso", establece un
      acuerdo vinculante entre Grupo Upgrade S.A.C. y el usuario ("Usuario").
      Contiene las condiciones que rigen el uso de este sitio web ("Sitio"). La
      dirección de Grupo Upgrade se encuentra al final de estos términos. El
      Sitio, propiedad y operado por Grupo Upgrade S.A.C., ofrece diversos
      contenidos, como texto, imágenes, descripciones de productos,
      ilustraciones, diseño, archivos de software y materiales de audio y video
      ("Materiales"). El acceso y uso de estos Materiales están sujetos a la
      aceptación y cumplimiento de los términos que se detallan a continuación.
    </p>
    <p>
      <strong style="color: rgb(72, 73, 72)">1. USO DEL SITIO</strong>
    </p>
    <p>
      1.1. Al acceder al Sitio, el Usuario acepta cumplir con estos Términos y
      Condiciones, así como con todas las actividades realizadas a través de su
      cuenta ("Cuenta"). El Usuario se compromete a proporcionar información
      precisa, actualizada y completa. Además, garantiza tener la edad legal
      para aceptar y obligarse conforme a estos términos. El acceso y cualquier
      gasto asociado a este son responsabilidad exclusiva del Usuario. Asimismo,
      la seguridad de la Cuenta, incluida la contraseña, es responsabilidad del
      Usuario, quien debe notificar cualquier problema a Grupo Upgrade S.A.C.
    </p>
    <p>
      <strong style="color: rgb(72, 73, 72)">2. REGISTRO DEL USUARIO</strong>
    </p>
    <p>
      2.1. El registro en este sitio es obligatorio y requiere datos de
      identificación verídicos y esenciales, como nombre completo, número de
      documento de identidad, dirección, correo electrónico y teléfonos, sujetos
      a validación posterior. 2.2. El Usuario puede solicitar la rectificación,
      actualización, eliminación o cancelación de sus datos. Estos datos pueden
      ser compartidos con empresas afiliadas para la comercialización de
      productos y servicios.
    </p>
    <p>
      <strong style="color: rgb(72, 73, 72)">3. DATOS PERSONALES</strong>
    </p>
    <p>
      3.1. Grupo Upgrade utilizará los datos para brindar servicios solicitados,
      incluyendo publicidad y contenido personalizado. 3.2. Los datos del
      Usuario se emplearán para informar sobre productos y servicios, así como
      para invitar a participar en encuestas. 3.3. Grupo Upgrade no venderá ni
      cederá datos a terceros, salvo para la prestación de servicios, en cuyo
      caso se hará parcialmente y con empresas asociadas.
    </p>

    <p>
      <strong style="color: rgb(72, 73, 72)">4. CLAVE SECRETA</strong>
    </p>
    <p>
      4.1. Después del registro, el Cliente deberá utilizar su DNI y clave
      alfanumérica de 6 dígitos para compras en Tienda Virtual Upgrade, la que
      será solicitada antes de efectuar la transacción, garantizando la
      seguridad y confidencialidad de la clave.
    </p>

    <p>
      <strong style="color: rgb(72, 73, 72)">5. MEDIOS DE PAGO</strong>
    </p>
    <p class="">
      5.1. Los métodos de pago disponibles para realizar compras en la Tienda
      Virtual Upgrade son los siguientes: Pago por Transferencia Bancaria: Este
      método requiere que el cliente se dirija a cualquiera banco o agencias, o
      utilice la banca por internet de su preferencia para efectuar la
      transferencia a las cuentas bancarias de Grupo Upgrade, cuyos detalles se
      proporcionarán previamente al cliente. Posteriormente, deberá realizar el
      pago correspondiente e ingresar el número de operación para validar la
      orden de compra en un plazo máximo de 2 días hábiles. A partir de este
      momento, se iniciará el plazo de entrega establecido para el cliente. 5.2.
      En caso de que se detecte algún tipo de fraude, se identifique un error
      sistémico que distorsione el precio de las ofertas, o surja alguna otra
      causa justificada, Grupo Upgrade considerará la transacción como no
      válida. En tal situación, se procederá a anular la transacción, cancelar
      el despacho del producto y solicitar al banco emisor de la tarjeta la
      devolución del importe comprometido.
    </p>

    <p>
      <strong style="color: rgb(72, 73, 72)"
        >6. VALIDEZ, PRECIO Y STOCK DE OFERTAS</strong
      >
    </p>
    <p>
      6.1. Los precios y servicios presentados en www.upgrade.com.pe son
      exclusivos para compras realizadas en la Tienda Virtual Upgrade y no se
      aplican a transacciones efectuadas en otras tiendas de Grupo Upgrade. Del
      mismo modo, los precios y servicios mostrados en otras tiendas de Grupo
      Upgrade no necesariamente son válidos para transacciones realizadas en
      www.upgrade.com.pe. 6.2. En el improbable caso de que, debido a un error o
      evento fuera del control de Grupo Upgrade, el precio correcto del producto
      sea superior al indicado en su orden de compra, nos pondremos en contacto
      con usted en un plazo de 3 días hábiles posteriores a la transacción.
      Durante esta comunicación, le informaremos de la discrepancia y
      solicitaremos su preferencia de adquirir el producto al precio correcto o
      cancelar la orden. 6.3. Los precios de los productos en la Tienda Virtual
      Upgrade están expresados en moneda nacional (S/), al igual que los
      comprobantes de pago emitidos. 6.4. Las compras realizadas en
      www.upgrade.com.pe están sujetas a la disponibilidad de stock. En caso de
      agotarse el stock de un producto, informaremos al cliente y procederemos a
      la cancelación de la compra. 6.5. La oferta de stock se limita a 1
      producto por oferta. Los productos publicados en este sitio son válidos
      exclusivamente para uso familiar, limitado a 1 oferta por persona y/o
      tarjeta de crédito. 6.6. Grupo Upgrade no asume responsabilidad por la
      información proporcionada por otros sitios web y las consecuencias
      derivadas de ello, especialmente cuando el acceso a la Tienda Virtual
      Upgrade se realiza a través de un enlace o banner en sitios que no cuentan
      con contratos o alianzas con www.upgrade.com.pe. Grupo Upgrade se reserva
      el derecho de modificar cualquier información contenida en este sitio.
    </p>

    <p>
      <strong style="color: rgb(72, 73, 72)">7. RESPONSABILIDAD</strong>
    </p>
    <p>
      7.1. Grupo Upgrade no se responsabiliza por información proveniente de
      sitios no afiliados. Se reserva el derecho de modificar información en el
      Sitio.
    </p>

    <p>
      <strong style="color: rgb(72, 73, 72)"
        >8. VENTA CON RETIRO EN TIENDA</strong
      >
    </p>
    <p>
      8.1. La opción de Retiro en Tienda (RMT) constituye una modalidad de
      entrega que permite realizar compras en línea y elegir las tiendas de
      Grupo Upgrade como lugar de recojo o entrega del producto, siempre y
      cuando la tienda seleccionada cuente con esta opción habilitada. Al
      completar el proceso de compra en www.upgrade.com, el Usuario recibirá un
      correo electrónico con los detalles de los productos seleccionados. Es
      responsabilidad de los clientes proporcionar en todo momento una dirección
      de correo electrónico válida y fiable, ya que Grupo Upgrade enviará las
      instrucciones pertinentes a través de este medio. 8.2. Para retirar el
      producto adquirido, el cliente deberá presentar su documento oficial de
      identidad original en el área designada al momento de realizar la compra,
      durante el horario de funcionamiento de la tienda Grupo Upgrade
      seleccionada. En caso de que el cliente autorice a un tercero para
      realizar el retiro durante el proceso de compra, dicho tercero deberá
      presentar su documento oficial de identidad original. 8.3. El cliente está
      obligado a retirar su compra en la tienda especificada durante el proceso
      de compra, y el producto no podrá ser retirado por personas menores de 18
      años. Asimismo, se insta al cliente a revisar el producto en el momento de
      la entrega y firmar el comprobante de entrega como confirmación. 8.4.
      Después de la entrega del producto, Grupo Upgrade no asume responsabilidad
      por los daños causados a los productos que sean imputables al cliente o a
      terceros. 8.5. En el caso de compras realizadas con la opción de Retiro en
      Tienda, el cliente dispondrá de un plazo de 3 días hábiles, a partir de la
      fecha en que reciba el correo electrónico que indica que su producto está
      listo para ser retirado.
    </p>

    <p>
      <strong style="color: rgb(72, 73, 72)">8. DESPACHO DE PRODUCTOS</strong>
    </p>
    <p>
      9.1. Los productos adquiridos a través de nuestro sitio estarán sujetos a
      las condiciones de despacho y entrega seleccionadas por el usuario, las
      cuales se encuentran disponibles en el sitio web. En situaciones en las
      que los productos se almacenen en distintas fuentes, se realizará su
      despacho de manera independiente, siguiendo las opciones elegidas por el
      usuario y disponibles en el sitio. Es importante destacar que la
      información proporcionada para el envío es responsabilidad exclusiva del
      usuario. Los plazos establecidos para el despacho y la entrega se cuentan
      a partir de la validación de la solicitud de compra y del medio de pago
      utilizado por Grupo Upgrade. Cabe destacar que estos plazos se consideran
      días hábiles para garantizar su cumplimiento.
    </p>

    <p>
      <strong style="color: rgb(72, 73, 72)"
        >8. AVISO LEGAL. LIMITACIÓN DE RESPONSABILIDAD.</strong
      >
    </p>
    <p>
      10.1. Grupo Upgrade S.A.C. no garantiza la interrupción ni la ausencia de
      errores en el Sitio. Ni Grupo Upgrade, ni sus afiliados asumen
      responsabilidad por daños derivados del acceso, uso o imposibilidad de uso
      del Sitio por parte de los usuarios pertenecientes al Grupo Upgrade. 10.2.
      En ningún caso Grupo Upgrade o sus afiliados serán responsables de daños
      directos, incidentales, consecuentes, indirectos o punitivos cuando se ha
      advertido de la posibilidad que tales daños sea aplicable únicamente al
      Usuario.
    </p>

    <p>
      <strong style="color: rgb(72, 73, 72)"
        >GRUPO UPGRADE S.A.C.</strong
      >
    </p>
    <p>
      Urbanización Magisterial Mz. B, Lt. 4-A, Yanahuara, Arequipa.
    </p>
  </div>
</div>
