<div class="tab-pane"
role="tabpanel">
<h5 class="fw-bold text-uppercase">Contáctanos</h5>
<span class="fw-semibold text-secondary">
  Aquí encontrarás nuestros canales de atención.
</span>
<hr>
</div>


<div class="card mb-3 w-75">
<div class="row g-0">
<div class="col-2 text-center m-auto">
<img src="https://mi-cuenta.ripley.com.pe/static/media/rebeca_icon.bd9288c8.svg" class="img-fluid rounded-start" alt="...">
</div>
<div class="col-10">
<div class="card-body">
  <h5 class="card-title fw-bold">Conoce a Rebeca</h5>
  <p class="card-text">Nuestra asistente virtual está disponible las 24 horas del día.</p>
</div>
</div>
</div>
</div>
