.container {
  padding-bottom: 50px;
}

h1 {
  color: #144373;
  font-family: "Bebas Neue";
  text-align: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  padding-bottom: 40px;
}

.contenido {
  display: flex;
  flex-direction: row;
  align-items: center;

  .img-container {
    align-items: center;
    border-radius: 30px;
    width: 800px;
    height: 650px;
    padding: 0;
    position: relative;
    overflow: hidden;
    img {
      width: 800px;
      height: 650px;
      width: 100%;
      max-width: 100%;
      object-fit: cover;
      border-radius: 28px;
      transition: transform 0.3s ease-in-out;
    }

  }

  .content-info {
    width: 700px;
  }
}
.img-container:hover img {
  transform: scale(1.2);
  cursor: pointer;
}
.text-subrayado {
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
}

.content-info {
  padding-left: 100px;
}

button {
  font-weight: bold;
}




.fs-icons-upgrade {
  font-size: 4rem;
}

@media (max-width: 800px) {


  .fs-icons-upgrade {
    font-size: 2rem;
  }
}

@media (max-width: 1050px){
  .contenido {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;

    .img-container {
      width: 100%;
      height: 400px;
      img{
        height: 100%;
      }
    }

    .content-info {
      padding-left: 0;
    }

  }
}


@media(max-width: 800px) {
  h1 {
    font-size: 30px;
  }


}
