<section>
  <!-- <h1>MI PEDIDO</h1> -->
  <div class="header">
    <span class="item-content"
      >NUMERO DE PEDIDO:
      <div class="item">{{ notaPedido.numero }}</div></span
    >
    <span
      >FECHA DE COMPRA:
      {{ notaPedido.fechaEntrega | date : "dd/MM/yyyy" }}</span
    >
  </div>

  <div class="notify">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-circle-dashed-check"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M8.56 3.69a9 9 0 0 0 -2.92 1.95" />
      <path d="M3.69 8.56a9 9 0 0 0 -.69 3.44" />
      <path d="M3.69 15.44a9 9 0 0 0 1.95 2.92" />
      <path d="M8.56 20.31a9 9 0 0 0 3.44 .69" />
      <path d="M15.44 20.31a9 9 0 0 0 2.92 -1.95" />
      <path d="M20.31 15.44a9 9 0 0 0 .69 -3.44" />
      <path d="M20.31 8.56a9 9 0 0 0 -1.95 -2.92" />
      <path d="M15.44 3.69a9 9 0 0 0 -3.44 -.69" />
      <path d="M9 12l2 2l4 -4" />
    </svg>
    @if (!notaPedido.aprobado)
    {
        <span class="fw-semibold">Tu pedido está en espera de confirmación</span>
    }
    @else if (notaPedido.aprobado && !notaPedido.descargado)
    {
        <span class="fw-semibold">Tu pedido ha sido confirmado y está en camino</span>
    }
    @else if (notaPedido.descargado)
    {
        <span class="fw-semibold">Tu pedido ha sido entregado correctamente</span>
    }

  </div>
  <div class="notify">
      <span class="fw-semibold">DIRECCION DE ENTREGA:</span>
        @if(notaPedido.observacion === ""){
          <span>
            {{notaPedido.cliente.persona.distrito.provincia.departamento.nombre}} -
            {{notaPedido.cliente.persona.distrito.nombre}} -
            {{notaPedido.cliente.persona.distrito.provincia.nombre}} -
            {{notaPedido.cliente.persona.direccion}}
          </span>
        } @else {
          <span> {{ notaPedido.observacion }} </span>
        }
  </div>
  <div class="detalles">
    <span class="length">
      ITEMS:
      <div>
        {{ notaPedidoDetalle.length }}
      </div>
    </span>
    @for(item of notaPedidoDetalle; track item._id){
    <div>
      <li>{{ item.producto.nombreEcommerce }}</li>
    </div>

    } @empty {
    <li>No hay items.</li>
    }

  </div>
</section>
