<section class="card p-4">
<div class="row">

  <div class="mb-3 col-6">
    <label class="form-label">Telefono</label>
    <input type="text" [value]="cliente.persona.telefono" class="form-control" />
  </div>

  <div class="mb-3 col-6">
    <label class="form-label">Dirección</label>
    <input type="text" [value]="cliente.persona.direccion || ''" class="form-control" />
  </div>
  <div class="mb-3 col-6">
    <label class="form-label">Distrito</label>
    <input type="text" [value]="cliente.persona.distrito.nombre || ''" class="form-control" />
  </div>
  <div class="mb-3 col-6">
    <label class="form-label">Provincia</label>
    <input type="text" [value]="cliente.persona.distrito.provincia.nombre || ''" class="form-control" />
  </div>
  <div class="mb-3 col-6">
    <label class="form-label">Departamento</label>
    <input type="email" [value]="cliente.persona.distrito.provincia.departamento.nombre || ''" class="form-control"  />
  </div>
  <div class="mb-3 col-6">
    <label class="form-label">Pais</label>
    <input type="email" [value]="cliente.persona.distrito.provincia.departamento.pais.nombre || ''" class="form-control" readonly />
  </div>

  <button class="btn btn-upgrade">
    <i class="bi bi-check-circle me-2"></i>Actualizar</button>

</div>
</section>
