<div class="offcanvas offcanvas-start w-75 d-lg-none d-lg-block" tabindex="-1" id="filtros" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"> LAPTOPS ¡OFERTAS Y PRECIOS! </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="">
      <span>Filtros</span>

      <span>Marca</span>

      <div>
        <input class="form-control mb-3">

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Lenovo
          </label>

        </div>
      </div>

    </div>
    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        Dropdown button
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <div class="w-100 offcanvas-bottom bottom-0 position-absolute">
      <div class="p-2">
        <button class="btn btn-outline-dark w-100" style="margin-right: 2rem !important;">Aplicar Filtros</button>
      </div>
    </div>
  </div>
</div>
