<h5 class="fw-bold text-uppercase">Direcciones</h5>
<span class="fw-semibold text-secondary"
  >
  Aquí podrás agregar tus direcciones de despacho
  </span
>
<hr />
<span>Esta la dirección en la que quieres recibir tus compras.</span>

<div class="py-4 px-2">
  <!-- <h5>Direcciones de Despacho</h5> -->
  <div class="row gap-2">
    <div class="col card">
      <div class="card-body m-auto">
        <p>{{ Direccion }}</p>
      </div>
    </div>
    <!-- <div class="col card m-auto p-4">
      <p class="m-auto">Agregar Dirección  <i class="bi bi-plus-lg"></i></p>
    </div> -->
  </div>

</div>