<div class="mt-5 container">
  <div class="position-relative">

<h2 class="pt-5 pb-3 fw-bold text-center text-upgrade">
  Servicio tecnico en Upgrade!
</h2>
    <img src="https://imagenes.upgrade.com.pe/Banners/baner.webp" alt="" class="img-fluid">
  </div>



<div>

  <h3 class="py-3 text-upgrade">¡Optimiza tu experiencia tecnológica con nuestro servicio de soporte técnico premium!</h3>
  <p>¿Tu computadora está funcionando más lenta de lo normal? ¿Te enfrentas a problemas técnicos que obstaculizan tu productividad? ¡No te preocupes más! En Grupo Upgrade, estamos aquí para ofrecerte soluciones rápidas y eficientes para todas tus necesidades tecnológicas.</p>



<h3 class="py-3 text-upgrade">Nuestros servicios incluyen:</h3>
  <ul class="list-unstyled">
    <li class="mb-3"><span class="fw-bold text-upgrade me-1">🔧 Diagnóstico y Reparación:</span>  Identificamos y solucionamos cualquier problema con tu computadora, laptop o dispositivo tecnológico.</li>
    <li class="mb-3"><span class="fw-bold text-upgrade me-1">💻 Optimización del Rendimiento:</span> Mejoramos la velocidad y eficiencia de tu equipo para un rendimiento óptimo.</li>
    <li class="mb-3"><span class="fw-bold text-upgrade me-1">🔒 Seguridad Informática:</span> Mantenemos tus datos seguros con soluciones de seguridad avanzadas y actualizaciones.</li>
    <li class="mb-3"><span class="fw-bold text-upgrade me-1">🔄 Actualizaciones de Software:</span> Mantenemos tus programas y sistemas operativos al día para un funcionamiento sin problemas.</li>
    <li class="mb-3"><span class="fw-bold text-upgrade me-1">📞 Soporte Remoto:</span> Ofrecemos asistencia instantánea a través de conexiones seguras para resolver problemas de inmediato.</li>
  </ul>

  <p>
    En Grupo Upgrade, nuestro equipo altamente capacitado está comprometido en brindar un servicio excepcional. Nos enorgullece ofrecer soluciones a medida para satisfacer tus necesidades específicas.
  </p>
  <p>
    ¡No dejes que los problemas tecnológicos te detengan! Contáctanos hoy mismo y descubre cómo podemos mejorar tu experiencia con la tecnología.
  </p>

<ul class="list-unstyled">
  <li> 📞 959 504 152 </li>
  <li>💻 upgrade.com.pe </li>
  <!-- <li>📧 upgrade@upgrade.com.pe</li> -->
</ul>

</div>