<div class="container mt-5 ">
  <h2 class="py-3 text-center fw-bold text-uppercase text-upgrade"> ¡Conoce como comprar en <span class="fw-bold">Grupo Upgrade!</span> </h2>
  <p class="text-center"> Continúa con las indicaciones para disfrutar de tu compra al máximo. ¡No te pierdas ningún detalle! </p>

  <div id="carouselExampleIndicators" class="d-none d-lg-block carousel slide carousel-tutorial-compra">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active py-4">

        <div class="d-flex gap-5 p-2 justify-content-center">

          <div class="card container-item-tutorial">
            <div class="text-center indicador-tutorial">
              <span class="rounded-circle  bg-semilight text-white fw-bold py-3 px-4 shadow">1</span>
            </div>
            <img src="https://imagenes.upgrade.com.pe/Tutorial/registrate.png" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title fw-bold text-upgrade">Registrate en Upgrade </h5>
              <p class="card-text"> Si ya tienes una cuenta, inicia sesión. Si no, regístrate proporcionando la
                información necesaria. </p>
            </div>
          </div>

          <div class="card container-item-tutorial">
            <div class="text-center indicador-tutorial">
              <span class="rounded-circle  bg-semilight text-white fw-bold py-3 px-4 shadow">2</span>
            </div>
            <img src="https://imagenes.upgrade.com.pe/Tutorial/elige-producto.png" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title fw-bold text-upgrade"> Encuentra los productos que estas buscando </h5>
              <p class="card-text"> Explora las categorías o utiliza la barra de búsqueda para encontrar el producto que
                deseas comprar. </p>
            </div>
          </div>

        </div>
      </div>


      <div class="carousel-item py-4">
        <div class="d-flex gap-5 p-2 justify-content-center">

          <div class="card  container-item-tutorial">
            <div class="text-center indicador-tutorial">
              <span class="rounded-circle  bg-semilight text-white fw-bold py-3 px-4 shadow">3</span>
            </div>
            <img src="https://imagenes.upgrade.com.pe/Tutorial/carrito.png" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title fw-bold text-upgrade"> Agrega tus productos al carrito </h5>
              <p class="card-text"> Selecciona tus productos y agregalos al carrito, 10 unidades maximo por productos.
                Verifica que el producto y sus detalles sean correctos en la página del carrito </p>
            </div>
          </div>

          <div class="card container-item-tutorial">
            <div class="text-center indicador-tutorial">
              <span class="rounded-circle  bg-semilight text-white fw-bold py-3 px-4 shadow">4</span>
            </div>
            <img  src="https://imagenes.upgrade.com.pe/Tutorial/verifica.png"  class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title fw-bold text-upgrade"> Verifica tus productos </h5>
              <p class="card-text"> Verifica la cantidad y después, haz clic en el botón "Siguiente". </p>
            </div>
          </div>


        </div>

      </div>
      <div class="carousel-item py-4">
        <div class="d-flex gap-5 p-2 justify-content-center">

          <div class="card container-item-tutorial">
            <div class="text-center indicador-tutorial">
              <span class="rounded-circle  bg-semilight text-white fw-bold py-3 px-4 shadow">5</span>
            </div>
            <img src="https://imagenes.upgrade.com.pe/Tutorial/registra-tus-datos.png" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title fw-bold text-upgrade"> Completa tu información de entrega </h5>
              <p class="card-text"> Completa los campos de dirección y fecha de entrega para establecer la programación
                de tu pedido.
                Después, haz clic en el botón "Confirmar Pago".
              </p>
            </div>
          </div>

          <div class="card container-item-tutorial">
            <div class="text-center indicador-tutorial">
              <span class="rounded-circle  bg-semilight text-white fw-bold py-3 px-4 shadow">6</span>
            </div>
            <img src="https://imagenes.upgrade.com.pe/Tutorial/compra.png" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title fw-bold text-upgrade"> Confirma tu pago </h5>
              <p class="card-text"> Verifica la cantidad y selecciona el botón "Pagar". </p>
            </div>
          </div>


        </div>

      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="bi bi-chevron-left fs-1"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="bi bi-chevron-right fs-1"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div id="carouseltutomobil" class="d-block d-lg-none carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active py-4">
        <div class="d-flex justify-content-center p-2">
          <div class="card container-item-tutorial">
            <div class="text-center indicador-tutorial">
              <span class="rounded-circle  bg-semilight text-white fw-bold py-3 px-4 shadow">1</span>
            </div>
            <img src="https://imagenes.upgrade.com.pe/Tutorial/registrate.png" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title fw-bold text-upgrade">Registrate en Upgrade </h5>
              <p class="card-text"> Si ya tienes una cuenta, inicia sesión. Si no, regístrate proporcionando la
                información necesaria. </p>
            </div>
          </div>
        </div>
      </div>


      <div class="carousel-item py-4">
        <div class="d-flex justify-content-center p-2">
        <div class="card container-item-tutorial">
          <div class="text-center indicador-tutorial">
            <span class="rounded-circle  bg-semilight text-white fw-bold py-3 px-4 shadow">2</span>
          </div>
          <img src="https://imagenes.upgrade.com.pe/Tutorial/elige-producto" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title fw-bold text-upgrade"> Encuentra los productos que estas buscando </h5>
            <p class="card-text"> Explora las categorías o utiliza la barra de búsqueda para encontrar el producto que
              deseas comprar. </p>
          </div>
        </div>
      </div>

      </div>


      <div class="carousel-item py-4">
        <div class="d-flex justify-content-center p-2">
        <div class="card  container-item-tutorial">
          <div class="text-center indicador-tutorial">
            <span class="rounded-circle  bg-semilight text-white fw-bold py-3 px-4 shadow">3</span>
          </div>
          <img src="https://imagenes.upgrade.com.pe/Tutorial/carrito.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title fw-bold text-upgrade"> Agrega tus productos al carrito </h5>
            <p class="card-text"> Selecciona tus productos y agregalos al carrito, 10 unidades maximo por productos.
              Verifica que el producto y sus detalles sean correctos en la página del carrito </p>
          </div>
        </div>
      </div>
    </div>


      <div class="carousel-item py-4">
        <div class="d-flex justify-content-center p-2">
          <div class="card container-item-tutorial">
          <div class="text-center indicador-tutorial">
            <span class="rounded-circle  bg-semilight text-white fw-bold py-3 px-4 shadow">4</span>
          </div>
          <img src="https://imagenes.upgrade.com.pe/Tutorial/verifica.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title fw-bold text-upgrade"> Verifica tus productos </h5>
            <p class="card-text"> Verifica la cantidad y después, haz clic en el botón "Siguiente". </p>
          </div>
        </div>
      </div>

      </div>


      <div class="carousel-item py-4">
        <div class="d-flex justify-content-center p-2">
        <div class="card container-item-tutorial">
          <div class="text-center indicador-tutorial">
            <span class="rounded-circle  bg-semilight text-white fw-bold py-3 px-4 shadow">5</span>
          </div>
          <img src="https://imagenes.upgrade.com.pe/Tutorial/registra-tus-datos.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title fw-bold text-upgrade"> Completa tu información de entrega </h5>
            <p class="card-text"> Completa los campos de dirección y fecha de entrega para establecer la programación de
              tu pedido.
              Después, haz clic en el botón "Confirmar Pago".
            </p>
          </div>
        </div>
      </div>

      </div>

      <div class="carousel-item py-4">
        <div class="d-flex justify-content-center p-2">
        <div class="card container-item-tutorial">
          <div class="text-center indicador-tutorial">
            <span class="rounded-circle  bg-semilight text-white fw-bold py-3 px-4 shadow">6</span>
          </div>
          <img src="https://imagenes.upgrade.com.pe/Tutorial/compra.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title fw-bold text-upgrade"> Confirma tu pago </h5>
            <p class="card-text"> Verifica la cantidad y selecciona el botón "Pagar". </p>
          </div>
        </div>
      </div>
    </div>


    </div>


    <button class="carousel-control-prev atras" type="button" data-bs-target="#carouseltutomobil" data-bs-slide="prev">
      <span class="bi bi-chevron-left fs-1"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next siguiente" type="button" data-bs-target="#carouseltutomobil" data-bs-slide="next">
      <span class="bi bi-chevron-right fs-1"></span>
      <span class="visually-hidden">Next</span>
    </button>


  </div>


</div>