<div class="container">
  <div class="mt-2 align-items-center justify-content-center gap-2 d-flex" style="color:rgb(15,21,67)">
    <h2 class="text-center my-4 fw-bold">NUESTRAS TIENDAS </h2>
    <i class="bi bi-shop fs-3"></i>
  </div>
  
  <div class="row shadow-local rounded p-4 mb-5 mt-2">
    <div class="col-lg-4 col-md-12 mb-3 mb-lg-0">
      <img src="https://imagenes.upgrade.com.pe/ImagenesEcommerce/assets/rivero.webp" alt="Foto del local" class="local-image" width='300'>
    </div>
    <div class="col-lg-4 col-md-12">
      <p class="fw-bold">Arequipa Edificio Tecnológico</p>
      <p >Urb. Magisterial IIB-4 (Entre el Ovalo Quiñones y Estadio Umacollo)</p>
      <!-- <a href="#mapa" class="text-decoration-none fw-bold" data-bs-toggle="modal" style="color: rgb(5, 1, 197)" data-bs-target=" modalTarget ">Ver Ubicación<i class="bi bi-geo-alt-fill"></i></a> -->
      <a href="#mapa1" class="text-decoration-none fw-bold" data-bs-toggle="modal" style="color: rgb(5, 1, 197)" data-bs-target="#mapa1">Ver Ubicación<i class="bi bi-geo-alt-fill"></i></a>
  
    </div>
    <div class="col-lg-4 col-md-12" style="color: rgba(30, 30, 100, 0.900)">
      <p class="fw-bold">Horario  <i class="bi bi-clock-history"></i></p>
      <p class="fw-bold">Lunes a Viernes</p>
      <p class="fw-bold">09:00 a 19:00 hrs.</p>
      <p class="fw-bold">Sábados</p>
      <p class="fw-bold">09:00 a 17:00 hrs.</p>
    </div>
  </div>

  <div class="row shadow-local rounded p-4 mb-5 mt-2">
    <div class="col-lg-4 col-md-12 mb-3 mb-lg-0">
      <img src="https://imagenes.upgrade.com.pe/ImagenesEcommerce/assets/quiñones.webp" alt="Foto del local" class="local-image" width='300'>
    </div>
    <div class="col-lg-4 col-md-12">
      <p class="fw-bold">Arequipa Tienda Rivero</p>
      <p >Calle Rivero 408 Cercado - Arequipa</p>
      <!-- <a href="#mapa" class="text-decoration-none fw-bold" data-bs-toggle="modal" style="color: rgb(5, 1, 197)" data-bs-target=" modalTarget ">Ver Ubicación<i class="bi bi-geo-alt-fill"></i></a> -->
      <a href="#mapa2" class="text-decoration-none fw-bold" data-bs-toggle="modal" style="color: rgb(5, 1, 197)" data-bs-target="#mapa2">Ver Ubicación<i class="bi bi-geo-alt-fill"></i></a>
  
    </div>
    <div class="col-lg-4 col-md-12" style="color: rgba(30, 30, 100, 0.900)">
      <p class="fw-bold">Horario  <i class="bi bi-clock-history"></i></p>
      <p class="fw-bold">Lunes a Viernes</p>
      <p class="fw-bold">09:00 a 19:00 hrs.</p>
      <p class="fw-bold">Sábados</p>
      <p class="fw-bold">09:00 a 19:00 hrs.</p>
    </div>
  </div>

  <div class="row shadow-local rounded p-4 mb-5 mt-2">
    <div class="col-lg-4 col-md-12 mb-3 mb-lg-0">
      <!-- <img [src]="foto" alt="Foto del local" class="local-image" width='300'> -->
    </div>
    <div class="col-lg-4 col-md-12">
      <p class="fw-bold">Cusco C.C Imperial Plaza</p>
      <p >Calle Cruz Verde 325 Of.213 2do Piso (Centro Comercial Imperial Plaza)</p>
      <!-- <a href="#mapa" class="text-decoration-none fw-bold" data-bs-toggle="modal" style="color: rgb(5, 1, 197)" data-bs-target=" modalTarget ">Ver Ubicación<i class="bi bi-geo-alt-fill"></i></a> -->
      <a href="#map3" class="text-decoration-none fw-bold" data-bs-toggle="modal" style="color: rgb(5, 1, 197)" data-bs-target="#mapa3">Ver Ubicación<i class="bi bi-geo-alt-fill"></i></a>
  
    </div>
    <div class="col-lg-4 col-md-12" style="color: rgba(30, 30, 100, 0.900)">
      <p class="fw-bold">Horario  <i class="bi bi-clock-history"></i></p>
      <p class="fw-bold">Lunes a Domingo</p>
      <p class="fw-bold">11:00 a 21:30 hrs.</p>
      <p class="fw-bold">Sábados</p>
      <p class="fw-bold">00:00 a 00:00 hrs.</p>
    </div>
  </div>


  <div class="modal fade" id="mapa2" tabIndex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body">
        <iframe class="container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d478.4459156120234!2d-71.53270679670321!3d-16.395988821576992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424a510c6cdbc1%3A0xfaeb96eab705cfd2!2sUpgrade!5e0!3m2!1ses-419!2spe!4v1680041265652!5m2!1ses-419!2spe" height="450" style="border:0; padding: 0" allowFullScreen="" loading="lazy" referrerPolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="mapa1" tabIndex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body">
        <iframe class="container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15310.137455974658!2d-71.56419046044917!3d-16.397665600000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424a5da494d5ad%3A0x3d2b3375a8b2b01a!2sGrupo%20UPGRADE!5e0!3m2!1ses-419!2spe!4v1680041534076!5m2!1ses-419!2spe" height="450" style=" border:0; padding: 0" allowFullScreen="" loading="lazy" referrerPolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="mapa3" tabIndex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body">
        <iframe class="container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d242.4528723218853!2d-71.98018665274631!3d-13.52049186216594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916dd675ca88e8df%3A0x68ce6a98cacc8e58!2sC.C.%20Imperial%20Plaza!5e0!3m2!1ses-419!2spe!4v1680043915110!5m2!1ses-419!2spe"  height="450" style="border:0; padding: 0" allowFullScreen="" loading="lazy" referrerPolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>

</div>