.shadow-local{
  transition: 0.1s ease-in;
  border: 1px solid rgba(110, 109, 112, 0.288);
}

.shadow-local:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid rgba(110, 109, 112, 0);
}