<section class="container  my-5">
  <div>
    <h5 class="fw-bold my-5">TENEMOS TODO LO QUE NECESITAS PARA CUBRIR TUS DESEOS Y NECESIDADES TECNOLÓGICAS</h5>
  </div>

  <div class="row  row-cols-2 row-cols-lg-3">

    <div class="col">
      <div class="card border-0 mb-5">
        <div class="row g-0">
          <div class="col-md-2 text-center">
            <i class="bi bi-gear fs-8"></i>
          </div>
          <div class="col-md-10">
            <div class="pt-3 px-2 pb-2">
              <h5 class="card-title mt-2 mb-3">Reparaciones</h5>  
              <span class="text-secondary">
                No te preocupes, estamos aquí para ayudarte. Nuestro servicio de reparación
                de equipos te brinda soluciones rápidas y confiables para que vuelvas a funcionar en poco 
                tiempo.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col">
      <div class="card border-0 mb-5">
        <div class="row g-0">
          <div class="col-md-2 text-center">
            <i class="bi bi-bookmark-star fs-8"></i>
          </div>
          <div class="col-md-10">
            <div class="pt-3 px-2 pb-2">
              <h5 class="card-title mt-2 mb-3">Mejoras</h5>  
              <span class="text-secondary">
                Potencia tu equipo al maximo con nuestro servicio de mejora especializado. 
                Si sientes que tu dispositivo necesita un impulso de rendimiento ,estamos aqui para brindarte soluciones.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-0 mb-5">
        <div class="row g-0">
          <div class="col-md-2 text-center">
            <i class="bi bi-headset fs-8"></i>
          </div>
          <div class="col-md-10">
            <div class="pt-3 px-2 pb-2">
              <h5 class="card-title mt-2 mb-3">Asesoramiento</h5>  
              <span class="text-secondary">
                Nuestros expertos te ayudarán a encontrar el equipo electrónico perfecto 
                que se adapte a tus necesidades y estilo de vida.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card border-0 mb-5">
        <div class="row g-0">
          <div class="col-md-2 text-center">
            <i class="bi bi-journal-text fs-8"></i>
          </div>
          <div class="col-md-10">
            <div class="pt-3 px-2 pb-2">
              <h5 class="card-title mt-2 mb-3">Cotizaciones</h5>  
              <span class="text-secondary">
                Obtén  la mejor oferta con nuestro servicio de cotizaciones personalizadas. 
                Nos encargamos de buscar las mejores opciones y precios para tus
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-0 mb-5">
        <div class="row g-0">
          <div class="col-md-2 text-center">
            <i class="bi bi-journal-check fs-8"></i>
          </div>
          <div class="col-md-10">
            <div class="pt-3 px-2 pb-2">
              <h5 class="card-title mt-2 mb-3">Contrataciones</h5>  
              <span class="text-secondary">
                Simplifica tus negociaciones y maximisa tus posibilidades con nuestro servicio de contrataciones. ¡Conéctate con nuevas
                oportunidades y abre puertas para el crecimiento y el éxito!.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card border-0 mb-5">
        <div class="row g-0">
          <div class="col-md-2 text-center">
            <i class="bi bi-patch-question fs-8"></i>
          </div>
          <div class="col-md-10">
            <div class="pt-3 px-2 pb-2">
              <h5 class="card-title mt-2 mb-3">Preguntas y respuestas</h5>  
              <span class="text-secondary">
                Déjanos ayudarte a encontrar lo que necesitas de manera sencilla. ¡Explora nuestra sección 
                de Preguntas y Respuestas Frecuentes y encuentra la claridad que buscas.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="d-flex w-100">
      <h5 class="m-2 text-upgrade">¿No encuentras lo que buscas? Escríbenos Y Te ayudamos > </h5>
      <a class="btn-upgrade text-decoration-none" 
      href="https://wa.link/hixgbj"
       target="_blank">Contáctanos</a>
  </div>

  <!-- href="https://wa.link/1zdmfy" -->


  </div>
</section>
